# Restrict direct access to css and js directories
<Directory "css">
    Options -Indexes
    Order Allow,Deny
    Deny from all
    <Files "*.css">
        Order Allow,Deny
        Allow from all
    </Files>
</Directory>

<Directory "js">
    Options -Indexes
    Order Allow,Deny
    Deny from all
    <Files "*.js">
        Order Allow,Deny
        Allow from all
    </Files>
</Directory>

# Prevent directory browsing
Options -Indexes